body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px; }

.centralize {
  text-align: center; }

.item2 img {
  width: 100%;
  object-fit: cover; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: black;
  padding: 20px; }

/*mixin for base container*/
@media only screen and (min-width: 800px) {
  .container_index {
    width: 98%;
    min-height: 900px;
    display: grid;
    margin: auto;
    background: white;
    position: relative;
    box-sizing: border-box;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 60px 400px 70px 3fr 0.7fr 1.25fr;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "slideshow slideshow slideshow" "footer footer footer"; }
  .container_historia {
    width: 98%;
    min-height: 900px;
    display: grid;
    margin: auto;
    background: white;
    position: relative;
    box-sizing: border-box;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 60px 400px 70px 1fr auto;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "footer footer footer"; }
  .item1 {
    grid-area: menu;
    position: fixed;
    z-index: 620;
    text-align: center;
    height: 60px;
    background: linear-gradient(to right, #45b649, #dce35b);
    width: 98%;
    transition: height 0.25s; }
  .item7 {
    grid-area: cookies;
    position: fixed;
    z-index: 9999;
    text-align: center;
    height: 90px;
    background: linear-gradient(to right, #45b649, #dce35b);
    width: 98%;
    bottom: 0; }
  .main_menu {
    padding: 20px 25px; }
  .item1 > ul > li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    vertical-align: top;
    height: auto;
    width: 150px; }
  ul > li > a {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white; }
  .item1 > ul li a:hover {
    color: black; }
  ul {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0; }
  li {
    list-style: none; }
  .item1 ul li ul li {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    display: block; }
  .item1 ul li ul li a {
    color: #dfdfdf;
    text-transform: capitalize; }
  .item1 ul li ul li a:hover {
    color: white; }
  ul li ul {
    display: none;
    padding: 0;
    margin-top: 17px; }
  ul:hover li ul {
    display: block; }
  .item1 ul > li:hover > ul {
    border-style: solid;
    border-width: thin;
    border-color: rgba(39, 109, 3, 0.4);
    border-style: none;
    background: rgba(39, 109, 3, 0.4);
    min-height: 400px; }
  .item1:hover {
    margin: 0;
    padding: 0;
    height: 460px;
    background: linear-gradient(90deg, rgba(29, 133, 74, 0.83) 0%, rgba(61, 209, 47, 0.83) 50%, rgba(158, 223, 70, 0.83) 100%);
    width: 98%;
    text-align: center; }
  .item2 {
    grid-area: slider;
    position: relative;
    background-size: 100%;
    z-index: 350;
    width: 100%;
    max-height: 400px;
    height: 400px; }
  .item2 h1 {
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    top: 20%;
    left: 20vh;
    font-family: 'Courgette', cursive;
    font-size: 2.8em; }
  .item3,
  .item4,
  .item5 {
    margin: 0 15%;
    width: 70%; }
  .item3 {
    grid-area: idea;
    position: relative;
    background: white; }
  .item4 {
    grid-area: content;
    position: relative;
    background: rgba(163, 233, 83, 0.05); }
  .item5 {
    grid-area: slideshow;
    position: relative;
    background: white; }
  .main_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 300; }
  .news_frame_flex {
    display: flex; }
  .news_flex_content,
  .news_flex_photo {
    margin: 10px;
    padding: 5px; }
  .news_flex_content {
    background: white; }
  .news_flex_photo img {
    width: 300px;
    height: 200px;
    border-color: white;
    border-radius: 5px 5px 5px 5px;
    border-style: solid; }
  .news_flex_content button {
    float: right; }
  .item4 button {
    float: right;
    background: #45b649;
    background: linear-gradient(to right, #45b649, #dce35b);
    border-radius: 28px;
    box-shadow: 0 2px 6px 0;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border: none; }
  .item4 button:hover {
    float: right;
    background: #6bd920;
    background-image: linear-gradient(top, #6bd920, #6bd934);
    text-decoration: none; }
  .item1 li.small_screen_cross_button {
    display: none; } }

@media only screen and (max-width: 800px) {
  ul li {
    list-style: none;
    text-align: left; }
  .first {
    text-transform: uppercase; }
  .container {
    width: 98%;
    min-height: 900px;
    display: grid;
    margin: auto;
    background: white;
    position: relative;
    box-sizing: border-box;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 0 200px 120px auto 0.2fr auto;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "slideshow slideshow slideshow" "footer footer footer"; }
  .item1 {
    grid-area: menu;
    position: fixed;
    z-index: 620;
    text-align: center;
    height: 60px; }
  .item7 {
    grid-area: cookies;
    position: fixed;
    z-index: 9999;
    text-align: center;
    height: 90px;
    background: linear-gradient(to right, #45b649, #dce35b);
    width: 98%;
    bottom: 0; }
  .item2 {
    grid-area: slider;
    position: relative;
    background-size: 100%;
    z-index: 350;
    width: 100%; }
  .item2 h1 {
    color: white;
    text-align: center;
    margin: 0 0 0 0;
    padding: 5vh 5vh 5vh 8vh;
    font-family: 'Courgette', cursive;
    font-size: 1.7em; }
  .item4,
  .item3 {
    width: 90%;
    margin: 0 5%; }
  .item3 {
    grid-area: idea;
    position: relative;
    background: white; }
  .item4 {
    grid-area: content;
    position: relative;
    background: rgba(163, 233, 83, 0.05); }
  .item5 {
    display: none; }
  .news_frame_flex {
    display: flex; }
  .news_flex_photo {
    display: none; }
  .news_flex_content {
    background: white;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px; }
  .news_flex_photo img {
    display: none; }
  .news_flex_content button {
    float: right; }
  .item4 button {
    float: right;
    background: #45b649;
    background: linear-gradient(to right, #45b649, #dce35b);
    border-radius: 28px;
    box-shadow: 0 2px 6px 0;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border: none; }
  .item4 button:hover {
    float: right;
    background: #6bd920;
    background-image: linear-gradient(top, #6bd920, #6bd934);
    text-decoration: none; }
  .container_hamburger_button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 1200;
    padding: 15px; }
  .hamburger_button1,
  .hamburger_button2,
  .hamburger_button3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 60px; }
  .sidenav {
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    margin-right: -50px; }
  .sidenav li > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s; }
  .sidenav li > a:hover {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 240px;
    font-size: 36px;
    margin-left: 50px; } }

.item6 {
  grid-area: footer;
  position: relative;
  background: #45b649;
  background: linear-gradient(to right, #45b649, #dce35b); }

.footer_container {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
  font-size: 14px;
  color: white; }

.footer_item1,
.footer_item2,
.footer_item3 {
  flex: 0 0 0;
  margin: 50px;
  min-width: 300px;
  line-height: 1.5; }

.flex_container_tekst_item1 {
  flex: 1 0 30%;
  order: 1;
  margin: 10px;
  align-self: center;
  font-family: 'Dancing Script', sans-serif;
  font-size: 2em; }

.flex_container_tekst_item2 {
  flex: 2 0 60%;
  order: 2;
  margin: 10px;
  align-self: center;
  font-family: 'Lora', sans-serif;
  font-size: 0.9em;
  line-height: 1.4em; }

.title_container h1 {
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-bottom: 30px;
  position: relative; }

/*.title_container h1 span {
  background: $sub-color;
  padding: 0 30px;
  position: relative;
  top: 14px;
}*/
.title_container h2 {
  text-align: center;
  border-bottom: 2px solid #83c783;
  color: black;
  font-size: 1.4em;
  margin-bottom: 30px;
  position: relative; }

.title_container h2 span {
  background: white;
  padding: 0 30px;
  position: relative;
  top: 14px; }

.item5 .flex_icons_container {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
  font-size: 1.4em;
  color: white; }

.item5 .flex_icon {
  flex: 0 0 0;
  margin: 0;
  min-width: 200px;
  padding: 10px; }

@media screen and (max-width: 700px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav li > a {
    font-size: 0.8em; } }

.home_icon {
  width: 25px;
  height: 25px; }

/*styles for other then index site*/
.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.flex_left,
.flex_right {
  flex: 1 0 0;
  align-self: center;
  width: 100%;
  padding: 50px; }

.history_desc {
  text-align: center; }

.history_desc p {
  line-height: 1.5; }

.patron_photo img {
  height: 600px;
  width: 300px;
  align-items: center;
  border: 20px solid white; }

.person_photo img {
  height: 300px;
  width: 240px;
  align-items: center;
  border: 20px solid white; }

.history_photo img {
  height: 250px;
  width: 400px;
  align-items: center;
  border: 20px solid white; }

.flex_table {
  display: flex;
  flex-wrap: wrap;
  padding: 0; }

.flex_table_cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  text-align: center;
  border: solid 3px white; }

.flex_table--2cols > .flex_table_cell {
  width: 50%; }

.table_head {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700; }

.bullet {
  display: list-item;
  list-style-type: square;
  list-style-position: inside; }

/*end styles for other then index site*/
