$nav-primary-color: rgb(255, 255, 255);
$nav-checked-color: rgb(0, 0, 0);
$subnav-primary-color: rgb(223, 223, 223);
$subnav-checked-color: rgb(255, 255, 255);
$basic-color: rgb(0, 0, 0);
$sub-color: rgb(255, 255, 255);
$h1-color: rgb(0, 0, 0);
$h2-color: rgb(0, 0, 0);
$h3-color: rgb(0, 0, 0);
$menu-gradient: linear-gradient(to right top, #2a2928, #383736, #464544, #545453, #636462);
//$menu-gradient: #72c02c;
$button-bg-color: linear-gradient(to right top, #4b4c4b, #456045, #3c733b, #2f862d, #149911);
$button-hover-color: #6bd920;
$button-hover-gradient: linear-gradient(to right top, #4a4e4a, #466446, #3f7a3f, #349033, #20a61d);
$footer-color: #72c02c;
$footer-gradient: linear-gradient(to right top, #2a2928, #383736, #464544, #545453, #636462);
$submenu-gradient: linear-gradient(to right top, rgba(42, 41, 40, 0.88), rgba(56, 55, 54, 0.87), rgba(70, 69, 68, 0.83), rgba(98, 99, 97, 0.87));
$bg-color: rgb(255, 255, 255);
$sub-bg-color: rgba(194, 194, 194, 0.07);
$border-color: rgb(255, 255, 255);
$cell-bg-color: rgb(219, 219, 219);
$main-font: 'Poppins', sans-serif;
$standard-font-size: 12px;
$big-font-size: 1.4em;
$middle-font-size: 1.2em;
$smaller-font-size: 0.8em;
$title-line: #149911;
$frame-menu-color: rgba(42, 41, 40, 0.88);
$sidenav_menu_color: #818181;
$sidenav_menu_color_hover: #f1f1f1;
$cookie-bg-color: rgba(172, 172, 172, 0.47);
$tile-color: rgba(94, 94, 94, 0.82);

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: $main-font;
  font-size: $standard-font-size;
}

.centralize {
  text-align: center;
}

header img {
  width: 100%;
  object-fit: cover;
}

h3 {
  font-family: $main-font;
  font-size: $middle-font-size;
  color: $h3-color;
  padding: 20px;
}


.home_icon {
  width: 45px;
  height: 45px;
  margin: -10px;
}

.tile{
  box-shadow: 0 4px 8px 0 $tile-color;
  transition: 0.3s;
  margin: 30px;
  overflow: hidden;
}

.tile:hover{
  box-shadow: 0 8px 16px 0 $tile-color;
}
.gallery_content_container{
  padding:  2px 16px;
}
.gallery_item .tile img{
  width: 300px;
  height: 200px;
  transition-duration: 3s;
  object-fit: cover;
}
.gallery_item .tile img:hover{
  transform: scale(1.2);
  object-fit: cover;
}
.gallery_item a{
  text-decoration: none;
  color: $basic-color;
}
#photo_item img{
  margin: 20px;
  width: 300px;
  height: 200px;
  transition-duration: 3s;
  object-fit: cover;
  box-shadow: 5px 5px rgb(90, 90, 91);

}
#photo_item img:hover{
  margin: 20px;
  width: 300px;
  height: 200px;
  transform: scale(1.2);
  object-fit: cover;
}

.bigPhoto{
  position: fixed;
  z-index: 10000000;
  background-color: rgba(131, 131, 131, 0.69);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.closeMark{
  position: fixed;
  z-index: 1000000100;
  top: 15px;
  right: 30px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.closeMark:hover{
  color: rgb(0, 0, 0);
}

.bigImage{
  position: relative;
  z-index: 1000000200;
  top: 5%;
}

//.image part different for >1000 and <1000px screens

.nextMark{
  position: absolute;
  z-index: 1000000600;
  right: 5%;
  top: 45%;
  font-size: 60px;
}
.nextMark:hover, .prevMark:hover{
  color: rgb(255, 255, 255);
}
.prevMark{
  position: absolute;
  z-index: 1000000600;
  left: 5%;
  top: 45%;
  font-size: 60px;
}

@mixin button-look {
  background: $button-bg-color;
  border-radius: 28px;
  box-shadow: 0 2px 6px 0;
  font-family: $main-font;
  color: $sub-color;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}
@mixin align-margin-padding($margin-top, $margin-right, $margin-bottom, $margin-left, $padding-top, $padding-right, $padding-bottom, $padding-left) {
  margin: $margin-top $margin-right $margin-bottom $margin-left;
  padding: $padding-top $padding-right $padding-bottom $padding-left;
}
/*mixin for base container*/
@mixin base-container {
  width: 98%;
  min-height: 900px;
  display: grid;
  margin: auto;
  background: $bg-color;
  position: relative;
  box-sizing: border-box;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
@mixin nav-look {
  grid-area: menu;
  position: fixed;
  z-index: 620;
  text-align: center;
  height: 60px;
}
@mixin header-look {
  grid-area: slider;
  position: relative;
  background-size: 100%;
  z-index: 350;
  width: 100%;
}
/* end mixin for base*/
@mixin title-look {
  grid-area: idea;
  position: relative;
  background: $bg-color;
}
@mixin main-look {
  grid-area: content;
  position: relative;
  background: $sub-bg-color;
}
@mixin cookie-look {
  grid-area: cookies;
  position: fixed;
  z-index: 9999;
  text-align: center;
  height: 70px;
}
@media only screen and (min-width:1000px) {
  .container_index {
    @include base-container;
    grid-template-rows: 60px 400px 70px 3fr 0.05 fr auto;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "slideshow slideshow slideshow" "footer footer footer";
  }

  .container_historia {
    @include base-container;
    grid-template-rows: 60px 400px 70px 1fr auto;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "footer footer footer";
  }

  nav {
    @include nav-look;
    background: $menu-gradient;
    width: 98%;
    transition: height 0.25s;
  }

  .cookie {
    @include cookie-look;
    background-color: $cookie-bg-color;
    width: 98%;
    bottom: 0;
  }

  .main_menu {
    padding: 20px 25px;
  }

  nav > ul > li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    vertical-align: top;
    height: auto;
    width: 150px;
  }

  ul > li > a {
    @include align-margin-padding(0, 0, 0, 0, 0, 15px, 0, 15px);
    text-decoration: none;
    font-family: $main-font;
    font-weight: bold;
    font-size: $big-font-size;
    color: $nav-primary-color;
    text-align: center;
  }

  nav > ul li a:hover {
    color: $nav-checked-color;
  }

  ul {
    @include align-margin-padding(0, 0, 0, 0, 10px, 0, 10px, 0);
  }

  li {
    list-style: none;
  }
  // Takie rozbudowane selektory sa bardzo trudne później do analizy,
  // Przy takim zagniezdzeniu chyba lepiej zrobic osobną klasę
  nav ul li ul li {
    @include align-margin-padding(0, 0, 0, 0, 10px, 0, 10px, 0);
    display: block;
  }
  // Zagniezdzanie mozna w SASS napisac duzo ladniej
  nav ul li ul li a {
    color: $subnav-primary-color;
    text-transform: capitalize;
  }

  nav ul li ul li a:hover {
    color: $subnav-checked-color;
  }

  ul li ul {
    display: none;
    padding: 0;
    margin-top: 14px;
  }

  ul:hover li ul {
    display: block;
  }

  nav ul > li:hover > ul {
    border-style: solid;
    border-width: thin;
    border-color: $frame-menu-color;
    border-style: none;
    background: $frame-menu-color;
    min-height: 400px;
  }

  nav:hover {
    margin: 0;
    padding: 0;
    height: 460px;
    background: $submenu-gradient;
    width: 98%;
    text-align: center;
  }

  header {
    @include header-look;
    max-height: 460px;
    height: 460px;
  }

  header img {
    max-width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
  }

  header h1 {
    display: block;
    position: absolute;
    color: $sub-color;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'Courgette', cursive;
    font-size: 2.8em;
  }

  .icons,
  .title,
  main {
    margin: 0 15%;
    width: 70%;
  }

  .title {
    @include title-look;
  }

  main {
    @include main-look;
  }

  .icons {
    grid-area: slideshow;
    position: relative;
    background: $bg-color;
  }

  .main_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 300;
  }

  .news_frame_flex {
    display: flex;
  }

  .news_flex_content,
  .news_flex_photo {
    margin: 10px;
    padding: 5px;
  }

  .news_flex_content {
    background: $bg-color;
  }

  .news_flex_photo img {
    width: 300px;
    height: 200px;
    border-color: $border-color;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
  }

  .news_flex_content button {
    float: right;
  }

  main button {
    float: right;
    @include button-look;
  }

  main button:hover {
    float: right;
    background: $button-hover-color;
    background: $button-hover-gradient;
    text-decoration: none;
  }

  .cookies_container button {
    @include button-look;
    margin: 5px;
  }

  .cookies_container button:hover {
    background: $button-hover-color;
    background-image: $button-hover-gradient;
    text-decoration: none;
  }

  nav li.small_screen_cross_button {
    display: none;
  }

  .image{
    height: auto;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    //object-fit: scale-down;
  }
  .image img{
    width: 70%;
    object-fit: scale-down;
  }
}

@media only screen and (max-width:1000px) {
  ul li {
    list-style: none;
    text-align: left;
  }

  .first {
    text-transform: uppercase;
  }

  .container {
    @include base-container;
    grid-template-rows: 0 200px 120px auto 0.2fr auto;
    grid-template-areas: "menu menu menu" "slider slider slider" "idea idea idea" "content content content" "slideshow slideshow slideshow" "footer footer footer";
  }

  nav {
    @include nav-look;
  }

  .cookie {
    @include cookie-look;
    background-color: $cookie-bg-color;
    width: 98%;
    bottom: 0;
  }

  .cookies_container button {
    @include button-look;
    margin: 5px;
  }

  .cookies_container button:hover {
    background: $button-hover-color;
    background-image: $button-hover-gradient;
    text-decoration: none;
  }

  header {
    @include header-look;
  }

  header h1 {
    display: block;
    position: absolute;
    color: $sub-color;
    text-align: center;
    @include align-margin-padding(0,0,0,0,0,60px,0,60px);
    font-family: 'Courgette', cursive;
    font-size: 1.7em;
    bottom: 10px;
    width: calc(100% - 120px);
  }

  .title,
  main {
    width: 90%;
    margin: 0 5%;
  }

  .title {
    @include title-look;
  }

  main {
    @include main-look;
  }

  .icons {
    display: none;
  }

  .news_frame_flex {
    display: flex;
  }

  .news_flex_photo {
    display: none;
  }

  .news_flex_content {
    background: $bg-color;
    @include align-margin-padding(10px, 10px, 10px, 10px, 5px, 5px, 5px, 5px)
  }

  .news_flex_photo img {
    display: none;
  }

  .news_flex_content button {
    float: right;
  }

  main button {
    @include button-look;
  }

  main button:hover {
    float: right;
    background: $button-hover-color;
    background-image: $button-hover-gradient;
    text-decoration: none;
  }

  .container_hamburger_button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 1200;
    padding: 15px;
  }

  .hamburger_button1,
  .hamburger_button2,
  .hamburger_button3 {
    width: 35px;
    height: 5px;
    background-color: $bg-color;
    margin: 6px 0;
    border-radius: 60px;
  }

  .sidenav {
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    background-color: $sidenav_menu_color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    margin-right: -50px;
  }

  .sidenav li > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: $standard-font-size;
    color: $sidenav_menu_color_hover;
    display: block;
    transition: 0.3s;
  }

  .sidenav li > a:hover {
    color: $sidenav_menu_color_hover;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 240px;
    font-size: 36px;
    margin-left: 50px;
  }
  .image{
    height: auto;
    max-width: 70%;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
    top: auto;
  }
}

footer {
  grid-area: footer;
  position: relative;
  background: $footer-color;
  background: $footer-gradient;
}

.footer_container {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
  font-size: $standard-font-size;
  color: $sub-color;
}


.footer_item1,
.footer_item2,
.footer_item3 {
  flex: 0 0 0;
  margin: 50px;
  min-width: 300px;
  line-height: 1.5;
}

.flex_container_tekst_item1 {
  flex: 1 0 30%;
  order: 1;
  margin: 10px;
  align-self: center;
  font-family: 'Dancing Script', sans-serif;
  font-size: 2em;
}

.flex_container_tekst_item2 {
  flex: 2 0 60%;
  order: 2;
  margin: 10px;
  align-self: center;
  font-family: 'Lora', sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
}

.title_container h2 {
  text-align: center;
  border-bottom: 2px solid $title-line;
  color: $basic-color;
  font-size: $big-font-size;
  margin-bottom: 30px;
  position: relative;
}

.title_container h2 span {
  background: $bg-color;
  padding: 0 30px;
  position: relative;
  top: 14px;
}

.icons .flex_icons_container {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  text-align: center;
  font-size: $big-font-size;
  color: $sub-color;
  @include align-margin-padding(0, 0, 0, 0, 0, 0, 20px, 0);
}

.icons {
  .flex_icon {
    flex: 0 0 0;
    margin: 0;
    min-width: 200px;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav li > a {
    font-size: $smaller-font-size;
  }
}


/*styles for other then index site*/

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_left,
.flex_right {
  flex: 1 0 0;
  align-self: center;
  width: 100%;
  padding: 50px;
}

.history_desc {
  text-align: center;
}

.history_desc p {
  line-height: 1.5;
}
@mixin photo-look {
  align-items: center;
  border: 20px solid $border-color;
}

.patron_photo img {
  height: 600px;
  width: 300px;
  @include photo-look;
}

.person_photo img {
  height: 300px;
  width: 240px;
  @include photo-look;
}

.history_photo img {
  height: 250px;
  width: 400px;
  @include photo-look;
}

.flex_table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.flex_table_cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  background-color: $bg-color;
  padding: 20px;
  text-align: center;
  border: solid 3px $border-color;
}

.flex_table--2cols > .flex_table_cell {
  width: 50%;
}

.table_head {
  font-size: $middle-font-size;
  text-transform: uppercase;
  font-weight: 700;
}

.bullet {
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}
/*end styles for other then index site*/
@media screen and (max-width: 500px){
  .history_photo img {
    height: 125px;
    width: 200px;
    @include photo-look;
  }
}
