{% extends "base.nunjucks" %}

{% block content %}

  <div class="title">
    <div class="title_container">
      <h2>
        <span>Sakramenty</span>
      </h2>
    </div>
  </div>
  
  <!--galeria-->
  <main>
    <div class="flex_container">
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/chrzest.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Chrzest</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/bierzmowanie.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Bierzmowanie</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/eucharystia.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Eucharystia</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/pokuta.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Pokuta</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/namaszczenie.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Namaszczenie Chorych</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/kaplanstwo.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Kapłaństwo</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="gallery_item">
        <a href="#">
          <div class="tile">
            <img src="../photos/sakramenty/malzenstwo.jpg" alt="event1" />
            <div class="gallery_content_container">
              <h2>Małżeństwo</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>

  <!-- End galeria-->

{% endblock %}
